<nav id="navbar" class="custom-navbar">
  <div class="nav-wrapper">

    <a id="logo" href="#" class="brand-logo"><img src="/assets/images/logo.png" /></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>

  </div>
</nav>
