<div id="home_search_bar" class="well">

    <p class="top-label">Tell Me About: <span id="trending_topic" class="text-highlight" style="text-transform: capitalize"></span></p>

    <div id="home_form_wrapper">
      <form id="search_form">
        <input id="search_input" type="text" style="color:black;" placeholder="hint: type 'uber', 'waymo', or 'LIDAR' for the demo.">
        <button id="search_submit" [routerLink]="['/result', 'test']">Go</button>
      </form>
    </div>

</div>
