<div id="result_wrapper" class="center-align">

    <div class="row">
        <img class="sfireImage animated fadeIn" src="/assets/images/example-2.jpg" />
    </div>

    <div class="row" style="margin-bottom: 0">

        <div class="col s6 verified" style="margin-left: -2%">
            <p class="animated bounceInDown"><img src="/assets/images/checkmark.png">Verified</p>
        </div>

        <div class="col s6 unverified" style="margin-left: -2.5%">
            <p class="animated bounceInDown"><img src="/assets/images/xmark.png"> Unverified</p>
        </div>

    </div>

    <div class="row" style="margin-left: 5%">
        <!--Verified-->
        <div class="col s6">
            <div class="row left-align">
                <ul id="verified_statements" class="sfireList statement-list">

                </ul>
            </div>
        </div>

        <!--Unverified-->
        <div class="col s6">
            <div class="row left-align">
                <ul id="unverified_statements" class="sfireList statement-list">

                </ul>
            </div>
        </div>

    </div>

</div>
